<a href="https://whatfettle.com" rel="home">Whatfettle</a> is the personal site and
<a href="https://blog.whatfettle.com" class="url" title="blog">infrequent journal</a> of
<a href="https://blog.whatfettle.com/about/" title="about me" class="fn" rel="me">Paul Downey</a>
(@<a href="https://twitter.com/psd" class="nickname" title="twitter">psd</a>), a doodling hacker living in
<a href="https://en.wikipedia.org/wiki/Berkhamsted" class="adr"><span class="locality">Berkhamsted</span>,
<span class="country-name">England</span></a>.
