Published on <time datetime="{{ page.date }}">{{ page.date | dateDisplay() }}</time>
under a <a id="license" rel="license" href="https://creativecommons.org/licenses/by/3.0/"  title="Creative Commons License">Creative Commons License</a>.
The source code is available on <a href="{{ pkg.repository.url }}">GitHub</a>.
